# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist/
dist
dist-ssr
.env
.DS_Store
pocketbase/data/
pocketbase
pocketbase/

./pocketbase
./pocketbase/*
./pocketbase/data/*

/pocketbase/data/
/pocketbase
/pocketbase/

coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

