@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    min-width: 80%;
  }
}

:root {
  --color-background: #ffffff; /* Default light theme background */
  --color-background-dark: #121212; /* Default dark theme background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
  }
}

body {
  background-color: var(--color-background);
}

.compact-form {
  transform: scale(0.8);
  transform-origin: left;

  width: 120%;
}

.compact-form-2 {
  transform: scale(0.66);
  transform-origin: left;

  width: 130%;
}
